# analysis
/analysis/__pycache__

# config
/config/__pycache__

# crawler
crawler/crawler/__pycache__
crawler/crawler/spiders/__pycache__

# main
/main/__pycache__
/main/migrations/__pycache__

# venv and .env
/venv
/.env